/Debug/
/Release/

**/logs
**/Debug
**/_ide
**/.metadata
**/robot
**/Eurobot_2025_system
**/Eurobot_2025/.cproject
**/Eurobot_2025/.project
**/Eurobot_2025/Eurobot_2025.project
.analytics
IDE.log
**/RemoteSystemsTempFiles
**/src/lscript.ld 
**/src/Xilinx.spec
**/Eurobot_2025.prj
Eurobot_2025/src/.vscode/settings.json
Zynq_block_design_wrapper/
/Eurobot_2025/.vscode/
.vscode/